<!DOCTYPE html>
<html>
<head>
  <title>Mon Restaurant</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary py-3">
    <a class="navbar-brand text-white" href="#">Mon Restaurant</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/menu">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/about">À Propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/signup">Inscription</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Connexion</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container mt-5">
    <%= yield %>
  </div>
</body>
</html>
